.content-type {
  display: block;

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &-navigation {
    &__logo {
      display: block;
      height: 80px;
      width: auto;
    }
  }

  &__header {
    flex: 1;
    margin: 1em;
    height: 470px;
    position: relative;

    border-radius: 0 !important;
    color: $--ba-color-white;
    background-color: $--ba-color-black !important;
  }

  &__footer{
    padding: 1em;
    margin: 1em -1em -1em -1em;
    height: 400px;
    color: $--ba-color-white;
    background: $--ba-color-black;
  }

  &__pageCarousel {}
  &__requestQuote {}

  &--editable {
    padding: 10px;
    //transition: .25s;
    border-radius: $--ba-border-radius;

    &:hover {
      cursor: pointer;
      background-color: $--ba-color-light-grey;
    }
  }

  &.dragging {
    background: $--ba-color-white;
  }
}
