.page-builder {
  &__view {
    width: 100%;
    position: relative;
    min-height: 100%;
    padding-top: 3em;
    background-color: white;
    background-image: url("../../assets/images/pattern.png");
    background-size: 2%;
  }

  &__configurator {
    margin: 0 auto;
    padding: 1em;
    max-width: 1440px;
    background: $--ba-color-white;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }
}
