<ba-panel *ngIf="showCreateContent">
  <button class="btn btn--primary" (click)="showCreateContent = false">
    Sluiten
  </button>

  <form [formGroup]="createContentForm" (submit)="submitContent(createContentForm); showCreateContent = false">
    <select formControlName="contentType">
      <option *ngFor="let type of contentTypes" [value]="type.type">
        {{ type.name }}
      </option>
    </select>

    <input type="text" formControlName="title">
    <input type="text" formControlName="description">

    <button class="btn btn--primary"
            [class.btn--disabled]="!createContentForm.valid">
      Create
    </button>
  </form>
</ba-panel>

<button class="btn btn--primary" (click)="showCreateContent = true">
  Add content
</button>

<div class="page-builder__configurator">
  <div class="content-type content-type__navigation">
    <div class="content-type-navigation__logo">
      <img src="./assets/images/barbier.svg" alt="">
    </div>
    <nav>
      <ul>
        <ng-container *ngFor="let page of pages">
          <a>
            <li>
              {{ page.page }}
            </li>
          </a>
        </ng-container>
      </ul>
    </nav>
  </div>

  <div cdkDropList class="example-list"
       [cdkDropListData]="page"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let contentSection of page"
         cdkDrag
         #contentType
         class="content-type content-type--editable"
         [class]="'content-type__' + contentSection.contentType"
         (mousedown)="contentType.classList.add('dragging')"
         (mouseup)="contentType.classList.remove('dragging')">
      <h2>
        {{ contentSection.title }} {{ contentSection.index }}
      </h2>
      <p>
        {{ contentSection.description }}
      </p>
    </div>
  </div>
</div>

