<ba-panel *ngIf="showCreateContent" 
          (close)="showCreateContent = false">
  <ba-create-content
    [hardIndex]="newContentIndex"
    [contentAmnt]="page.length"
    (fireCreateContent)="createContent.emit($event)"></ba-create-content>
</ba-panel>

<button class="btn btn--primary" (click)="showCreateContent = true">
  Add content
</button>

<div class="page-builder__configurator">
  <div class="content-type content-type__navigation">
    <div class="content-type-navigation__logo">
      <img src="./assets/images/barbier.svg" alt="">
    </div>
    <nav>
      <ul>
        <a *ngFor="let navItem of navItems">
          <li>
            {{ navItem.page }}

            <nav *ngIf="navItem.subPages && navItem.subPages.length > 0">
              <ul>
                <li *ngFor="let subPage of navItem.subPages">
                  {{ subPage.page }}
                </li>
              </ul>
            </nav>
          </li>
        </a>
      </ul>
    </nav>
  </div>

  <div cdkDropList [cdkDropListData]="page" (cdkDropListDropped)="drop($event)">
    <ba-content-block
      *ngFor="let contentSection of page"
      [contentSection]="contentSection" cdkDrag>
      <div class="content-controls">
        <button type="button" (click)="this.showCreateContent = true; newContentIndex = 0">Insert above</button>
        <button type="button" (click)="this.showCreateContent = true">Edit</button>
        <button type="button" (click)="this.deleteContent.emit(contentSection.id)">Delete</button>
        <button type="button" (click)="this.showCreateContent = true">Insert under</button>
      </div>
    </ba-content-block>
  </div>

  <div class="content-type content-type__footer">
    <footer>

    </footer>
  </div>
</div>
